.search-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.search-form {
  background-color: #ececec;
  padding: 2rem 4rem;
  text-align: center;
}

.product-table {
  position: relative;
}

@media only screen and (max-width: 900px) {
  .search-header {
    flex-flow: column wrap;
    align-items: flex-start;
  }
  .search-header h1 {
    margin-bottom: 2rem;
  }
  .search-form {
    background-color: #ececec;
    padding: 2rem;
    text-align: center;
  }
}
